<%# <%= form_for @user, url: {action: "edit"}, html: {class: "odin-form"} do |f| %>
<%= form_for @user, url: user_path, html: {class: "odin-form"} do |f| %>
    
    <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "example@example.com" %> 
    <%= f.label :username, "Your Username Here:" %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password" %>

    <%= f.submit %>

<% end %>